*{
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* NAV BAR */

.navbar{
	padding: 0.1% !important;
	font-size: small !important;
	background-color: #B41F27da !important;
}

.navbar-brand{
	color: white !important;
}

.nav-link{
	color: white !important;
}

.navhelp{
	padding-top: 5%;
}

.ticketbtn{
	background-color: #323C98;
	color: white;
}

.ticketbtn:hover {
	background-color: #252d73;
	color: white;
  }

/* HOME PAGE */

.deviderline{
	text-align: center;
	margin-top: -5%;
}

.deviderlineimg{
	max-width: 80%;
	height: auto;
	/* margin-bottom: 3%; */
}

.nannainfo{
	/* background-color: #fecf9a6f; */
	display: flex;
	align-items: center;
	padding: 3%;
}

.nannaimage{
	max-width: auto;
	height: auto;
	padding: 20px;
}
.nannatext{
	/* background-color: rgb(101, 101, 101); */
	text-align: left;
	padding: 5%;
}



/* TICKET PAGE */

.eventcards{
	/* background-color: #fecf9a6f; */
	padding: 5%;
}

.ticketheader{
	text-align: center;
	margin: 3%;
}

.cardcolums{
	margin-left: 5%;
	margin-right: 5%;
}

.card{
	/* margin-bottom: 10% !important; */
	
}
.ticketcard{
	display: flex !important;
	justify-content: space-between;
}


/* ABOUT PAGE */


.museumheader{
	padding: 1%;
	text-align:left
}

.section1{
	display: flex;
	align-items: center;
}

.aboutmuseumtext{
	padding: 1%;
}

.aboutimg{
	max-width: 15%;
	height: auto;
	margin-right: 1%;
}

.section2{
	display: flex;
}

.aboutnannaimg{
	max-width: 25%;
	height: auto;
	margin-left: 1%;
}
.aboutmuseumlist{
	padding: 5%;
}


/* VISITORS HOURS */

.visitors{
	display: flex;
	justify-content: space-evenly;
}

.visitorshours ul{
	list-style-type: none;
}

.specialopening ul{
	list-style-type: none;
}

/* CAFE INFO */

.cafeinfo{
	display: flex;
	align-items: center;
}

.cafeimg{
	max-width: 50%;
	height: auto;
}
.cafeinfo1{
	padding: 2%;
}

.cafeinfo2{
	padding: 1%;
}
/* FOOTER */

.footerimg{
	max-width: 80%;
	height: auto;
}


.fa {
	padding: 1px;
	font-size: 30px;
	width: 50px;
	text-align: center;
	text-decoration: none;
}

.fa-instagram {
	/* background: #3B5998; */
	color: white;
  }

.fa-google{
	/* background: #3B5998; */
	color: white;
}